html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  margin: 0 auto;
  font-family: Helvetica;
}

.hero {
  background-image: url(images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  width: 960px;
  z-index: 5;
  padding: 1rem 0;
  margin: 1rem auto;
}

.top-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 31rem;
  width: 960px;
  margin: 0 auto;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}

.logo img {
  margin-right: 1rem;
  height: 1.5rem;
}

.nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2rem;
}

.nav span {
  margin-left: 2rem;
}

.motto {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-top: 10rem;
  padding: 0rem 5rem;
  background-color: white;
}

.motto span {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.mid-container {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 960px;
  margin: 0 auto;
}

.icons {
  margin: 3rem auto;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.icon {
  width: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon img {
  width: 3.5rem;
}
