html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  margin: 0 auto;
  font-family: Helvetica;
}

/*top section*/

.hero {
  background-image: url(images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  width: 960px;
  z-index: 5;
  padding: 1rem 0;
  margin: 1rem auto;
}

header span {
  color: white;
}

#menu {
  display: none;
}

.header-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 31rem;
  margin: 0 auto;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}

.logo img {
  margin-right: 1rem;
  height: 1.5rem;
}

.nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2rem;
}

.nav span {
  margin-left: 2rem;
}

.motto {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-top: 10rem;
  margin-right: 10rem;
  padding: 0rem 5rem;
  background-color: white;
}

.motto span {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

/*mid top*/

.mid-container {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 960px;
  margin: 0 auto;
}

.icons {
  margin: 3rem auto;
  display: inline-flex;
  align-content: center;
  padding-right: 6rem;
}

.icon {
  width: 5rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 6rem;

}

.icon img {
  width: 3.5rem;
}

.icon span {
  text-align: center;
  line-height: 1.4;
}

#ruler img,
#truck img {
  width: 5rem;
}

/*mid bottom*/

.content {
  display: inline-flex;
  flex-direction: column;
  align-content: space-between;
  width: 35%;
  margin-left: 6%;
  margin-bottom: 5rem;
}

.content-title {
  display: flex;
  margin-bottom: 1rem;
}

.content span {
  display: flex;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  width: 50%;
}

.content p {
  line-height: 1.4;
}

/*footer*/

footer {
  display: flex;
  background-color: azure;
  width: 960px;
  height: 9.5rem;
  margin: 0 auto;
}

.copyright {
  display: inline-flex;
  align-items: center;
}

.copyright img {
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

/*Media Queries*/

@media only screen and (max-width: 1050px) {

  header {
    width: 100%;
    margin: 0 auto;
  }

  .hero {
    height: 22rem;
  }

  .motto {
    height: 5rem;
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }

  .motto span {
    font-size: 1.33rem;
  }

  .mid-container {
    width: 75%;
  }

  .content {
    width: 75%;
  }

  .content span {
    width: 75%;
  }

  footer {
    width: 100%;
  }
}

@media only screen and (max-width: 640px){

  #menu {
    display: flex;
  }

  .nav span {
    display: none;
  }

  #tso {
    display: none;
  }

  .hero {
    height: 17rem;
    background-position: 20%;
  }

  header {
    width: 100%;
    margin-bottom: 9rem;
  }

  .motto {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 2rem;
  }

  .motto span {
    font-size: 1rem;
    margin-right: 9rem;
  }

  .mid-container {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }

  .icons {
    flex-direction: column;
  }

  .icon span {
    font-size: 0.77rem;
  }

  .icon img {
    margin: 1.54rem;
  }

  .content {
    width: 100%;
    margin: 0 auto;
  }

  .content span {
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .content p {
    margin-bottom: 4rem;
    font-size: 0.77rem;
  }

  footer {
    justify-content: center;
  }

  .copyright span {
    display: none;
  }

  .copyright img {
    margin: 0 auto;
  }

}
